<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="utilities.Listeners" />

	</listeners>
  <test thread-count="10" name="Test">
    <classes>
      <class name="Testcases.Christmastab_TC"/>
      <class name="Testcases.CartCheckout_TC"/>
      <class name="utilities.BaseTest"/>
      <class name="Testcases.Hoveraction_TC"/>
      <class name="Testcases.Newsletter_locator_TC"/>
      <class name="Testcases.AddGiftcard_TC"/>
      <class name="Testcases.Contactpage_TC"/>
      <class name="Testcases.Wishlistpage_TC"/>
      <class name="Testcases.Loginpage_TC"/>
      <class name="Testcases.AllproductTab_TC"/>
      <class name="Testcases.SearchAction_TC"/>
      <class name="Testcases.Homepage_TC"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
